<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDBU1fAaCQJKcSrOXMWqyWG6L7YEnkzP7g</string>
	<key>GCM_SENDER_ID</key>
	<string>296555067625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rentalApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>rental-8305f</string>
	<key>STORAGE_BUCKET</key>
	<string>rental-8305f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296555067625:ios:44bd9210dfe7874c1a5878</string>
</dict>
</plist>